<mat-drawer-container class="example-container" autosize>
    <mat-nav-list>
        <div class="toggle text-center p-3">
            <i class='bx bx-menu-alt-left' style='color:#f9f1f1'  ></i>
        </div>
        <div class="menu mt-5">
            <div class="left_menu text-center">
                <i class='bx bx-cube-alt' style='color:#948c8c'  ></i>
            </div>
            <div class="left_menu text-center mt-3">
                <i class='bx bx-bar-chart-alt-2' style='color:#948c8c'></i>
            </div>
            <div class="left_menu text-center mt-3">
                <i class='bx bx-folder-plus' style='color:#2c6bd2'></i>
            </div>
            <div class="left_menu text-center mt-3">
                <i class='bx bx-check' style='color:#948c8c'></i>
            </div>
            <div class="left_menu text-center mt-3">
                <i class='bx bx-cog' style='color:#948c8c' ></i>
            </div>
            <div class="left_menu text-center mt-3">
                <i class='bx bx-download ' style='color:#948c8c'></i>
            </div>
        </div>
    </mat-nav-list>
</mat-drawer-container>
